.App {
  height: 100vh;
}

.ant-divider-horizontal {
  margin: 24px;
  width: unset;
  min-width: unset;
}

.app-header {
  align-items: center;
  background-color: #282c34;
  display: flex;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  position: relative;
}

.app-header-logout {
  position: absolute;
  left: 30px;
  top: 30px;
  transform: scaleX(-1);
}

.app-header-title {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  margin: 10px 0;
}

.auth-redirect {
  align-self: center;
  display: flex;
  justify-content: center;
}

.auth-redirect p {
  align-self: center;
  margin: 0;
}

.container {
  background-color: rgb(250, 250, 250);
  height: 100%;
}

.dashboard-add-reminder {
  margin: 0 auto 35px;
  width: 40%;
}

.dashboard-header { 
  font-size: 45px;
}

.dashboard-reminder {
  font-weight: 600;
  margin: 1.16%; /* (100-31*3)/6 */
  position: relative;
  text-align: start;
  width: 31%;
  word-wrap: break-word;
}

.dashboard-add-reminder textarea {
  resize: none;
}

.dashboard-reminder:hover {
  background-color: rgb(240, 240, 240);
  transition: background-color 0.3s ease;
}

.dashboard-reminder-container {
  display: flex;
  flex-flow: row wrap;
}

.dashboard-reminder-delete {
  position: absolute;
  right: 10px;
  top: 10px;
}

.login-container,
.signup-container {
  margin: 80px auto 0;
  width: 250px;
}

.main-container {
  background-color: rgb(250, 250, 250);
  text-align: center;
}

@media only screen and (max-width: 680px) {
  .app-header-logout {
    left: 15px;
    top: inherit;
  }

  .app-header-title {
    font-size: 1.7em;
  }

  .auth-redirect {
    display: inline;
  }
  
  .dashboard-add-reminder {
    width: 80%;
  }

  .dashboard-header { 
    font-size: 35px;
  }

  .dashboard-reminder {
    margin: 2.5%; /* (100-31*3)/4 */
    position: relative;
    text-align: start;
    width: 45%;
  }

  .login-container,
  .signup-container {
    width: 190px;
  }

}
